body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #DCF2F1;
}

@media(max-width: 430px),(min-width:1000px){
    .container {
        width: 80%;
        max-width: 500px;
        margin: 50px auto;
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }
}

button{
    background-color: #365486;
      border: 2px solid #0F1035;
      border-radius: 30px;
      box-shadow: #0F1035 4px 4px 0 0;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-bottom: 30px;
    
    
    
      box-shadow: #0F1035 2px 2px 0 0;
      transform: translate(2px, 2px);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease;
    font-size: 16px;
    color: #555;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    outline: none;
    border-bottom-color: #5C9DED;
}


    

#submit:hover {
    background-color: #448ACC;
}

#error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
