/* Style for the container */
html{
  background-color: #DCF2F1;
}
.container {
  width: 80%;
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the heading */
  h1 {
    margin-bottom: 20px;
  }
  
  /* Style for the form */
  #loginForm {
    text-align: left;
  }
  
  /* Style for input fields */
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  


  
  /* Style for the alert message */
  .alert {
    background-color: #0F1035;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: none; /* initially hidden */
  }

  button{
    background-color: #365486;
      border: 2px solid #0F1035;
      border-radius: 30px;
      box-shadow: #0F1035 4px 4px 0 0;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-bottom: 30px;
    
    
    
      box-shadow: #0F1035 2px 2px 0 0;
      transform: translate(2px, 2px);
  }
  